extends layout 

block content
    div 
        h2 Hello #{currentUser.name}
        h2 
            form(action="/catalog/signout", method="post") 
                button(type="submit") Sign out
    div 
        h1 List of posts
        h2 
            a(href="/catalog/create")  Create Post
        for post in posts 
            li   
                h3= post.title
                if currentUser.ismember
                    p By: #{post.author}
                    p Date: #{post.date}
                p= post.message

